.todoList{
    list-style: none;
}

.todoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-bottom: 16px;
    min-height: 150px;
}